<div class="row-body{$content_class}">
	<div class="nine columns" id="messages">
		<div class="page-container">
		<div class="page-content">
		<div class="page-header">{$header}</div>
			<div class="page-inner">
				<div class="row">
					<strong>Here comes your contact info...</strong><br />
					For example, you can contact me at chearado@softbloom.com, or send me a message via my <a href="http://softbloom.com/">blog</a>.
					<br /><br />
					<strong>1</strong>. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
					<br /><br />
					<strong>2</strong>. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					<br /><br />
					<strong>3</strong>. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="three columns">
		{$sidebar}
	</div>
</div>