<div class="row-body{$content_class}">
	<div class="create_page">
		<img src="{$url}/themes/dolphin/images/icons/page.png">
		<span>Create a Page</span>
		<p>Create a Page to build a closer relationship with your audience and customers.</p>
	</div>
	<div class="four columns" id="entertainment">
		<div class="page-container">
			<div class="page-content">
				<div class="page-inner">
					<div class="row">
						<a href="{$url}/index.php?a=page&b=page_entertainment"><div class="entertainment"><img src="{$url}/themes/dolphin/images/icons/entertainment.png"></div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="four columns" id="local_business">
		<div class="page-container">
			<div class="page-content">
				<div class="page-inner">
					<div class="row">
						<a href="{$url}/index.php?a=page&b=page_business"><div class="local_business"><img src="{$url}/themes/dolphin/images/icons/local_business.png"></div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="four columns" id="store">
		<div class="page-container">
			<div class="page-content">
				<div class="page-inner">
					<div class="row">
						<a href="{$url}/index.php?a=page&b=page_store"><div class="store"><img src="{$url}/themes/dolphin/images/icons/store.png"></div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>