<div class="row-body{$content_class}">
	<div class="create_page">
		<img src="{$url}/themes/dolphin/images/icons/page.png">
		<span>Create a Page</span>
		<p>Create a Page to build a closer relationship with your audience and customers.</p>
	</div>
	<div class="twelve columns" id="local_business">
		<div class="page-container">
			<div class="page-content">
				<div class="page-inner">
					<div class="row loc">
						<div class="local_business">
							<span>Local Business</span>
							<!-- <select>
								<option value="">Select Category</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select> -->
							<input type="text" value="" placeholder="Page Name" name="">
							<input type="submit" id="lsubmit" value="Get Started">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>