<div class="row-body{$content_class}">
	<div class="nine columns" id="messages">
		<div class="page-container">
			<div class="page-content">
				<div class="page-header">
					<img src="{$url}/themes/dolphin/images/icons/page.png">
					{$header}
					<a href="{$url}/index.php?a=page&b=create_page" id="create_page">+ Create Page</a>
				</div>
				<div class="page-inner" style="padding: 0px;">
					<div class="row">
						<div id="page_lists">
							<a href="#">
								<img src="{$url}/themes/dolphin/images/icons/page_business.png">Softbloom Co., Ltd
							</a>
							<a href="#">
								<img src="{$url}/themes/dolphin/images/icons/page_store.png">Angkor Auto
							</a>
							<a href="#">
								<img src="{$url}/themes/dolphin/images/icons/page_entertainment.png">BLAUDA LANKA CO., LTD
							</a>
							<a href="#">
								<img src="{$url}/themes/dolphin/images/icons/page_store.png">Angkor Professional
							</a>
							<a href="#">
								<img src="{$url}/themes/dolphin/images/icons/page_business.png">Vana Travel
							</a>
							<a href="#">
								<img src="{$url}/themes/dolphin/images/icons/page_store.png">BLAUDA CO,. LTD
							</a>
							<a href="#">
								<img src="{$url}/themes/dolphin/images/icons/page_entertainment.png">MOTORBB CO., LTD
							</a>
							<a href="#">
								<img src="{$url}/themes/dolphin/images/icons/page_store.png">BLAUDA KOREA CO., LTD
							</a>
							<a href="#">
								<img src="{$url}/themes/dolphin/images/icons/page_entertainment.png">BLAUDA JAPAN CO., LTD
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="three columns">
		{$sidebar}
	</div>
</div>